*{margin: 0px; padding: 0px;}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.text {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 90% !important;
  width: 100% !important;
}

.headerWrapper .header{width: 100%; height: auto; padding: 25px 0px;}
.logoWrapper img{ width: 120px; height: 50px;}

.headerWrapper .header .part2 .countryDrop{ width: 150px; height: 50px; min-width: 150px; color: black !important; border: 1.2px solid rgba(0,0,0,0.2) !important; border-radius: 7px !important;}
.headerWrapper .header .part2 .countryDrop {text-align: left; justify-content: flex-start;}
.headerWrapper .header .part2 .countryDrop .label{font-size: 11px !important; text-transform: capitalize !important; color: rgba(0,0,0,0.5) !important; line-height: 16px;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 14px !important; text-transform: capitalize !important; color: #233a95 !important; font-weight: 700;line-height: 16px;}

header .headerSearch{width: 60%; height: 50px; background: #f3f4f7; padding: 10px; margin-left: 15px; border: 1px solid rgba(0,0,0,0.1); border-radius: 7px; position: relative;  display: flex; align-items: center;  }
header .headerSearch input {background: transparent !important; outline: none !important; font-size: 14px !important; color: rgba(0,0,0,0.8); width: 93%; height: 30px; border: 0 !important; padding: 0px 25px !important; }
header .headerSearch input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.7);
}
header .headerSearch  button{position: absolute; right:15px; z-index: 100; min-width: 40px!important ; height: 40px!important ; width: 40px!important ; border-radius: 50%!important;}
header .headerSearch  button svg{font-size: 25px;}
header .part3 .user {align-items: center; justify-content: center; min-width: 40px; height: 40px; width: 40px; border-radius: 50%; border: 1px solid rgba(0,0,0,0.2); margin-left: 12px; }
header .part3 .user svg{font-size: 22px;}
.cartTab .price{
  font-size: 18px;
  color: rgba(0,0,0,0.8);
  font-weight: 700;
}
.cartTab button{
  background: #fff1ee !important;
}
.cartTab button svg{
  color: #ea2b0f;
}
.cartTab .count{
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
nav .allCatTab{
  background: #2bbef9;
  padding: 8px 15px !important;
  border-radius: 20px !important;
}
nav .allCatTab * {
  color: #fff;
}
nav .allCatTab:hover{
  background:#2bbef9 ;
}
nav .allCatTab .text{
  font-weight: 600;
}
nav .allCatTab .icon1 svg{
  font-size: 20px;
}
nav .allCatTab .icon1 svg{
  font-size: 17px;
}
nav .navPart1{max-width: 20%;flex: 0 0 20%;}
nav .navPart2 ul{
  margin-bottom: 0px;
}
nav .navPart2 ul li a{ 
 font-size: 16px;
 font-weight: 600;
 text-decoration: none;
 color: rgba(0,0,0,0.6);
 text-transform: uppercase;
 display: flex;
 align-items: center;
 padding: 10px 20px;
 transition: all 0.2s ease-in-out;
 border-radius: 25px;
}
nav .navPart2 ul li a:hover{
  background: #f0faff;
  color: #2bbef9;
}
nav .navPart2 ul li a svg {
 font-size: 18px;
}
